{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Contato</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'enlaceapp/css/styles.css' %}">
    </head>
    <body>
        <h1>Contato</h1>
        <br>
        <img src="{% static 'enlaceapp/images/meninas_superpoderosas.gif' %}" alt="meninas_superpoderosas" style="width: 50%; height: auto; margin-left: 200px;">
        <br>
        <p style="align-items: center;">
            As <span class="destaque">Meninas Superpoderosas</span> também fizeram parte deste projeto incrível! 🌟
        </p>
        <ul>
            <li style="color: rgb(54, 112, 54)"> Docinho (Larissa): </li>
            <p> A especialista em <span class="destaque">QA</span>, com uma habilidade incrível para <span class="destaque">organização</span> e <span class="destaque">pensamento critico</span>. Ela solucionou lacunas que poderiam ter passado despercebidas e facilitou todo o processo de criação. Além da sua inconfundível demonstração de <span class="destaque">cuidado</span>.
            </p>
            <a href="larissa@email.com">Entre em contato</a>
            <li style="color: rgb(62, 153, 251);"> Lindinha (Samara): </li>
            <p>Encanta a todos com sua <span class="destaque">simpatia</span> e deixou o projeto super <span class="destaque">divertido</span> e <span class="destaque">alegre</span>. Seu otimismo contagiante foi um verdadeiro superpoder!
            </p>
            <a href="samara@email.com">Entre em contato</a>
            <li style="color: rgb(236, 78, 141);"> Florzinha (Franciele): </li>
            <p>Incentivou a equipe a sempre dar o seu melhor, pois sabia o quanto eram capazes. Além disso, trouxe um toque diferenciado e criativo ao projeto.
            </p>
            <a href="franciele@email.com">Entre em contato</a>
            <li style="color: black"> Professor Utonium (Edison): </li>
            <p>Colocou toda a equipe fora da zona de conforto e mostrou como mexer com redes pode ser <span class="destaque">divertido</span> e <span class="destaque">desafiador</span>. Ele é o verdadeiro mentor por trás do nosso sucesso!
            </p>
            <a href="edison@email.com">Entre em contato</a>
        </ul>
        <script src="" async defer></script>
    </body>
</html>
