{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OSPF</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'enlaceapp/css/styles.css' %}">
    </head>
    <body>
        <h1>Protocolo OSPF</h1>
    
        <div class="graph-container">
            <img src="{% static 'C:/Users/franc/OneDrive/Área de Trabalho/enlace-redes/enlace/static/enlaceapp/images/graph_min.png' %}" alt="Grafico Minimo" style="width: 40%; margin-left: auto; margin-right: auto;" label="Caminho Minimo">
            <img src="{% static 'C:/Users/franc/OneDrive/Área de Trabalho/enlace-redes/enlace/static/enlaceapp/images/graph_complet.png' %}" alt="Grafico Completo" style="width: 50%; height: auto; margin-left: 50px;" label="Topologia Completa">
        </div>

        <p>Retorne para a <a href="/">Home</a>
        <br>
        <script src="" async defer></script>
    </body>
</html>