{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sobre</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'enlaceapp/css/styles.css' %}">
    </head>
    <body>
        <h1>Sobre</h1>
        <h1>Camada de Enlace no Modelo OSI 🌐🔗</h1>
        <p>O Modelo OSI (Open Systems Interconnection) é um padrão conceitual usado para entender e descrever as funcionalidades e interações entre os diferentes protocolos de rede em um sistema de comunicação de dados1. Ele divide o processo de comunicação em sete camadas distintas, cada uma com funções específicas. Vamos focar na Camada de Enlace, que é a segunda camada do modelo.
        </p>
        <h1>O que é a Camada de Enlace</h1>
        <p>A Camada de Enlace é responsável por garantir a comunicação confiável entre dispositivos diretamente conectados na rede. Suas principais funções incluem:
        </p>
        <p>
            1. Tratamento de Erros de Transmissão: Detecta e corrige erros que podem ocorrer durante a transmissão dos dados.
        </p>
        <p>
            2. Controle de Fluxo de Dados: Regula a velocidade de transmissão para evitar congestionamentos.
        </p>
        <p>
            3. Interface com a Camada de Rede: Fornece uma interface bem definida para a camada superior (Camada de Rede).
        </p>
        <h1>Simuladores de Enlace de Dados</h1>
        <p>Para entender melhor como a Camada de Enlace funciona, muitas vezes utilizamos simuladores de enlace de dados. Essas ferramentas permitem que os profissionais de rede testem cenários e comportamentos da camada de enlace em um ambiente controlado. Alguns simuladores populares incluem o Cisco Packet Tracer e o GNS3.
        </p>
        <h1>Protocolo OSPF (Open Shortest Path First)</h1>
        <p>O OSPF é um protocolo de roteamento utilizado na Camada de Rede do Modelo OSI. Ele é usado para determinar as rotas mais curtas (caminhos) entre roteadores em uma rede IP. O OSPF é baseado no algoritmo Dijkstra e é amplamente utilizado em redes empresariais e provedores de serviços.
        </p>
        <p>Em resumo, a Camada de Enlace é essencial para garantir a integridade dos dados durante a transmissão e para fornecer uma base sólida para a comunicação em redes de computadores. 
        </p>
        <br>
        <p>Acesse também: <a href="/">Home</a> 
        <br>
        <br>
        <script src="" async defer></script>
    </body>
</html>